---

---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// *** Custom CSS ***

// Prevent flickering
.page__content h1 .header-link, .page__content h2 .header-link, .page__content h3 .header-link, .page__content h4 .header-link, .page__content h5 .header-link, .page__content h6 .header-link {
    transition: none;
}
.greedy-nav a {
    transition: none;
}
b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a, tr, td, form button, input[type="submit"], .btn, #goog-wm-sb, .highlight, .archive__item-teaser {
    transition: none;
}

// fix breadcrumbs
.breadcrumbs ol {
    width: auto;
    float: left;
}

// resize header
.page__hero--overlay {
    margin-bottom: 1em;
    padding: 2em 0;

    background-size: auto;
}

.page__hero--overlay > .wrapper * {
    zoom: 0.8;
}

// maximum width
.max-w-600 {
    max-width: 600px;
}

